defaultEntryPoints = ["http", "https"]

[web]
address = ":8080"

[entryPoints]

[entryPoints.http]
address = ":80"

[entryPoints.https]
address = ":443"

[entryPoints.https.tls]

[acme]
email = "myemail@example.com"
storage = "acme.json"
entryPoint = "https"
onDemand = false
OnHostRule = true
